body {
  --white: #ffffff;
  font-style: "Raleway", sans-serif;
  font-weight: normal;
  display: flex;
  flex-direction: column;
  justify-content: center;
  overflow-x: hidden;
}
a {
  text-decoration: none;
}
.header {
  display: grid;
  width: 100%;
  grid-template-columns: 2fr 1fr 2fr;
  align-self: center;
  max-width: 1440px;
  padding: 0 50px;
  margin: 94px auto;
  font-size: 18px;
  justify-content: center;
  align-items: center;
}
.links-list {
  display: flex;
}
.header__link {
  margin-left: 32px;
  list-style: circle;
  text-decoration: underline;
}
.header__links-list-item_no-bullit {
  list-style: none;
  text-decoration: none;
  margin-left: 0;
  padding-left: 0;
}
.header__logo {
  display: block;
  height: 105px;
  width: 148px;
  justify-self: center;
  pointer-events: none;
}
.logo {
  display: block;
  justify-self: center;
  align-self: center;
}
.header__logo img {
  width: 100%;
  height: 100%;
}
.contacts {
  display: block;
  max-width: 240px;
  align-self: center;
  justify-self: flex-end;
}
.contacts a {
  text-underline-position: under;
  text-decoration: underline;
  line-height: 24.3px;
  pointer-events: none;
}
.contacts p {
  line-height: 24.3px;
}

.cover {
  position: relative;
  z-index: -1;
  display: flex;
  flex-direction: column;
  width: 100vw;
  max-width: 1440px;
  margin: 0 auto;
  color: var(--white);
  text-transform: uppercase;
  overflow: hidden;
  padding: 0 50px 50px;
  background-image: url("../images/cover.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
}
.cover-container {
  align-items: center;
  justify-content: center;
  max-width: 1340px;
}
.cover__title {
  margin-top: 165px;
  margin-bottom: 147px;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
}
.cover__title_letter-space {
  letter-spacing: 0.6em;
}
.cover__title_no-letter-spacing {
  letter-spacing: 0;
  margin-right: 60px;
}
.cover__title_no-letter {
  letter-spacing: 0;
}
.aligned-text {
  display: block;
  font-weight: bold;
  font-size: 100px;
  letter-spacing: 0.3em;
  margin-bottom: 20px;
  line-height: 115%;
}
.aligned-text:last-child {
  margin-bottom: 0;
}

.aligned-text_center {
  display: block;
  text-align: center;
  line-height: 100%;
}
.aligned-text_right {
  text-align: right;
  line-height: 100%;
}

.overlay {
  z-index: -2;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.6);
}

.show-more {
  position: relative;
}
.subline,
.btn {
  font-size: 22px;
  pointer-events: none;
}
.subline {
  z-index: 1;
  grid-column: 3/11;
  grid-row: 1/1;
  text-align: center;
  line-height: 28px;
  word-spacing: 19px;
  padding-bottom: 12px;
  padding-left: 40px;
}
.btn {
  position: absolute;
  z-index: -1;
  display: block;
  padding: 12px 32px;
  right: 0;
  bottom: 0;
  border: 1px solid var(--white);
  border-radius: 5px;
  background-color: transparent;
  color: var(--white);
  text-transform: uppercase;
}
.btn:hover {
  cursor: pointer;
  border-radius: 15px;
  background-color: #000000;
  opacity: 0.7;
  transition: opacity 0.35s ease;
}
.lots {
  margin: 180px auto 181px;
  max-width: 1440px;
  padding: 0 50px;
}
.section-title {
  font-size: 40px;
  font-weight: bold;
  margin-bottom: 27px;
  display: block;
  text-transform: uppercase;
}
.lots__padding-left {
  padding-left: 40px;
}
.cards {
  display: grid;
  grid-template-columns: repeat( auto-fit, minmax(250px, 1fr) );
  width: 100%;
  column-gap: 25px;
  row-gap: 25px;
  margin-bottom: 30px;
}
.lot {
  z-index: -1;
  position: relative;
  padding: 50px 40px;
  min-height: 450px;
  max-width: 430px;
  justify-content: space-between;
  color: var(--white);
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
}
.lot a {
  display: block;
  pointer-events: none;
  height: 100%;
  width: 100%;
}
.lot article {
  display: flex;
  width: 100%;
  height: 100%;
  flex-direction: column;
  justify-content: space-between;
}
.lot:first-child {
  background-image: url("../images/card-lot-01.jpg");
}
.lot:nth-child(2) {
  background-image: url("../images/card-lot-02.jpg");
}
.lot:last-child {
  background-image: url("../images/card-lot-03.jpg");
}
.lot p,
h3 {
  display: block;
}
.lot__title {
  margin-bottom: 15px;
  font-size: 22px;
  font-weight: bold;
  text-decoration: underline;
  text-transform: uppercase;
  text-underline-position: under;
}
.lot p {
  justify-content: start;
  font-size: 20px;
  font-weight: normal;
}
.lots__more {
  font-size: 20px;
  text-decoration: underline;
  text-underline-position: under;
  pointer-events: none;
}
.about {
  max-width: 1440px;
  margin: 0 auto 185px;
  display: flex;
  padding: 0 50px;
  row-gap: 25px;
  column-gap: 25px;
}
.logo-column {
  max-width: 430px;
  padding: 0 95px;
}
.about__logo-container {
  display: flex;
  width: 240px;
  height: 240px;
  border-radius: 50%;
  background-color: #000000;
}
.about__logo {
  display: block;
  width: 141px;
  height: 112px;
  margin: auto auto;
}
.about__container {
  display: block;
}
.about__title-padding {
  padding: 100px 0;
  margin: 0;
}
.about__text {
  display: flex;
  flex-direction: column;
  font-size: 20px;
  row-gap: 25px;
}
.footer {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  min-width: 1100px;
  padding: 0 50px;
  margin: 0 0 90px;
}

.footer__link-list {
  display: flex;
  flex-direction: column;
  text-align: center;
}
.footer__link-list .header__link {
  list-style: none;
  margin-left: 0;
  font-size: 18px;
}
.contacts-left {
  justify-self: start;
  align-self: flex-start;
}
.footer__logo {
  width: 240px;
  height: 240px;
}
.footer__menu {
  align-self: flex-start;
}
.footer__menu a {
  display: block;
  pointer-events: none;
  text-decoration: none;
}
.footer__menu ul {
  display: flex;
  flex-direction: column;
  text-align: center;
}
.footer__menu li {
  list-style: none;
  margin-left: 0;
  font-size: 18px;
}
.footer__menu li:first-child {
  text-decoration: none;
}
.socials {
  display: flex;
  justify-self: end;
}
.socials a {
  display: block;
  width: 48px;
  height: 48px;
  margin-right: 48px;
  border-radius: 50%;
  border: 1px solid #000000;
}
.socials a {
  pointer-events: none;
}
.socials img {
  display: block;
  margin: auto auto;
}
.socials a:last-child {
  margin-right: 0;
}

@media (max-width: 1400px) {
  .show-more p {
    text-align-last: left;
    font-size: 20px;
  }
}
